<article class="post post-type- " itemscope itemtype="http://schema.org/Article">
    <link itemprop="mainEntityOfPage" href="http://shpik.github.io/p/2018/07/24/Resume/">

    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="shpik">
      <meta itemprop="description" content="">
      <meta itemprop="image" content="/assets/images/avatar.png">
    </span>

    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="shpik's world">
    </span>

    
      <header class="post-header">

        
        <center>
          <h1 class="post-title" itemprop="name headline">
          
          
            Sehun Oh (shpik.korea at gmail.com)
          
        </h1>    
          </center>

        </div>
      </header>
    

    <div class="post-body" itemprop="articleBody">
<br>
      
      

      
        <!-- more -->

<h2 id="whoami">whoami</h2>

<ul>
  <li>shpik @Republic of Korea</li>
  <li>Security Researcher @Cyberone PT(Penetration Test) Team
    <ul>
      <li>2017.01 ~ Now</li>
    </ul>
  </li>
  <li>Computer Science Engineering @Inha Universary
    <ul>
      <li>2010.03 ~ 2017.02</li>
    </ul>
  </li>
  <li>Web/Pwnable @TenDollar</li>
  <li>DEFCON 26 Finalist</li>
</ul>

<h2 id="achievement">Vulnerability</h2>
<ul>
  <li>CVE-2018-13410</li>
</ul>

<h2 id="achievement">Achievement</h2>

<ul>
  <li>2018, CODEBLUE CTF 2018 Quals 14위 (TenDollar)</li>
  <li>2018, Samsung CTF 35위 (shpik)</li>
  <li>2018, Whitehat Contest Quals 11위 (TenDollar)</li>
  <li>2018, KO-WORLD 해킹방어대회 Final 2위 (TenDollar)</li>
  <li>2018, KO-WORLD 해킹방어대회 Quals ?위 (TenDollar)</li>
  <li>2018, DEFCON CTF Quals 15위 (C.G.K.S)</li>
  <li>2018, Plaid CTF 23위 (CGKS)</li>
  <li>2018, ASIS CTF Quals 81위 (TenDollar)</li>
  <li>2018, Blaze CTF 65위 (TenDollar)</li>
  <li>2018, Timisoara CTF Quals 33위 (steins;gate0)</li>
  <li>2018, Midnight Sun CTF Quals 22위 (TenDollar)</li>
  <li>2018, N1CTF 67위 (TenDollar)</li>
  <li>2018, Xiomara CTF 45위 (TenDollar)</li>
  <li>2018, Pragyan CTF 26위 (CyB3r1)</li>
  <li>2018, TAMU CTF 40위 (TenDollar)</li>
  <li>2018, Codegate CTF Quals 49위 (TenDollar)</li>
  <li>2018, Insomnia’hack teaser 74위 (TenDollar)</li>
  <li>2017, CODEBLUE CTF 51위 (TenDollar)</li>
  <li>2017, HITCON CTF 48위 (TenDollar)</li>
  <li>2017, 사이버공격방어대회(CCE) 13위 (TenDollar)</li>
  <li>2017, Hack.lu CTF 42위 (TenDollar)</li>
  <li>2017, Hack Dat Kiwi CTF 14위 (TenDollar)</li>
  <li>2017, Kaspersky CTF 61위 (TenDollar)</li>
  <li>2017, Samsung CTF Final 35위 (shpik)</li>
  <li>2017, Samsung CTF 72위 (shpik)</li>
  <li>2017, bugs_bunny CTF 52위 (crayon)</li>
  <li>2017, MeePwn CTF 65위 (crayon)</li>
  <li>2017, DEFCON CTF 70위 (crayon)</li>
  <li>2017, Nuit du Hack CTF 40위 (crayon)</li>
  <li>2017, Codegate CTF Quals 38위 (콰트로치즈와퍼)</li>
  <li>2016, HDCON 19위 (참깨빵위에순쇠고기패티)</li>
  <li>2016, Codegate CTF University Final 11위 (init)</li>
  <li>2016, Secuinside CTF 39위 (2nit)</li>
</ul>
  </article>
